/* Navbar */
nav {
  font-size: 18px;
  background-color: transparent;
}
.navbar-brand {
  font-size: 30px;
}
#add-book-link {
  font-weight: bold;
}

/* ManualAddBook.js */
#manualentry {
  width: 60%;
}
#manual-submit {
  width: 200px;
}

/* AddBook.js */
#title-only,
.goal-input {
  background-color: transparent;
  border-left-style: hidden;
  border-top-style: hidden;
  border-right-style: hidden;
  border-radius: initial;
  border-color: lightgray;
}
#title-only:focus,
.goal-input:focus {
  outline: transparent;
  border-color: black;
  box-shadow: none;
}
#content {
  height: 100vh;
}
#content .row {
  min-height: 80vh;
  max-height: 100vh;
}

/* SetGoals.js */
.form-group .goal-label {
  margin-right: 10px;
  margin-bottom: 0 !important;
}
#books .form-group,
#pages .form-group,
#list {
  padding-left: 10px;
}

/* Home.js */
.graph {
  height: 300px;
  width: 500px;
}

/* Booklist.js */
.delete-link {
  cursor: pointer;
  font-weight: bold;
}

/* Loading.js */
.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 0.75em;
  height: 2em;
}
.loader {
  color: black;
  text-indent: -9999em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 10px;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 1em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 2em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 1em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 2em;
  }
}
